.nav a:not(.dropdown-menu a) {
	color: white !important;
}

a {
	cursor: pointer;
}

a:active,
a:hover,
a:focus{
	text-decoration: none;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:active {
	background: #FE7E13;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #FE7E13;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-size: 16px;
}

.btn {
	font-weight: bold;
}

.modal-header,
.modal-footer {
	border: none;
}

body {
	background: #F5F5F5;
	overflow-x: hidden;
	color: #333;
}

input {
	outline: none;
}

.btn:hover {
	color: #FFFFFF;
}

.btn-orange {
	background: #FE7E13;
	color: #FFFFFF;
}

.btn-orange:hover {
	background: #F57000;
}

/*.navbar-brand {
	line-height: 40px;
}*/

.navbar-right {
	margin-right: 0;
}

.tt-navbar {
	background: #FE7E13;
	border: none;
}

.landing-container {
	background: rgba(55, 66, 85, 0.4);
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	height: 100vh;
}

.l-form {
	text-align:left;
	width: 50%;
	padding: 20px;
	background: #ffffff;
	box-shadow: 0px 0px 15px #888888;
}

.tt-tab-content {
	margin-top: 15px;
}

.tt-event-title {
	color: #FE7E13;
	font-size: 24px;
	font-weight: bold;
}

.avatar{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 2px solid #fff;
}
.padding-bottom{
	padding-bottom: 15px;
}
.padding-top{
	padding-top:15px;
}

.new-event {
	margin-top: 90px;
}
.main-container {
	margin-bottom: 15px;
}

.tt-ev-container {
	padding: 20px;
}

.tt-event-img-container img {
	width: 100%;
}

.tt-description-area textarea {
	width: 100%;
	border-color: #FE7E13;
}

.events-container{
	background-color: #fff;
	border: 1px solid white;
	border-radius: 3px;
	box-shadow: 0 0 9px #333;
}
/* left side */
.event{
	color: #fe7e13;
	font-size: 16px;
	font-weight: bold;
}

#open-new-event-container {
	color: #fe7e13;
}

.user-create-event{
	margin-left: -10%;
	margin-top: 1%;
}
/* drag and drop */
.area {
	width: 38em;
	padding: 17px;
	border: 1px solid #A2A7B3;
	background: #374255;
	margin-left: 11px;
}
#dropZone {
	border: 1px dashed #FE7E13;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 40px;
	text-align: center;
	font: 21pt bold arial;
	color: #bbb;
}
/* END drag and drop */

/* END left side */

/* right side */
.description{
	border: 1px solid #A2A7B3;
	border-radius: 6px;
	margin: -5px;
	margin-top: 11px;
	padding: 5px;
}
.description-msg{
	border-radius: 6px;
	margin: -5px;
	margin-top: 11px;
	padding: 5px;
	background-color:white;
}
.join{
	margin-left: 14px;
	padding: 3px 12px;
	background-color: #FE7E13;
	border-color: #FE7E13;
}
.join:hover{
	background-color: #374255;
}
.textarea{
	padding: 4% 36%;
	margin-left: -19px;
	border-radius: 4px;
	resize:none;
}
/* END right side */

/* COL UTILS */
.col-centred{
	float: none;
	margin: 0 auto;
}

#new-event-title {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid #f37e13;
	width: 100%;
	color: #374255;
}

ul.rating-stars {
	list-style: none;
	padding: 0;
	color: #f37e13;
	font-size: 16px;
}

ul.rating-stars li {
	display: inline-block;
}

.tt-ppl-avatar {
	width: 75px;
	height: 75px;
	border: 1px solid #FE7E13;
	border-radius: 100%;
	overflow: hidden;
}

#participants-modal .tt-ppl-avatar {
	width: 25px;
	height: 25px;
}
.tt-ppl-avatar img{
	width: 100%;
}

.tt-orange {
	color: #FE7E13;
}

.tt-interest-section {
	color: #374255;
}

.tt-user-card {
	padding: 25px;
}

.tt-ppl-name {
	font-size: 24px;
	color: #FE7E13;
}

.tt-profile-avatar {
	text-align: center;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	border-radius: 100%;
	overflow: hidden;
	border: 3px solid #FE7E13;
	box-shadow: 0 0 6px #555;
}

.tt-profile-avatar img{
	width: 100%;
}

.tt-profile-container {
	padding: 25px;
}

.tt-profile-username {
	text-align: center;
	font-size: 24px;
	color: #FE7E13;
}

.tt-interest {
	background: rgba(254, 126, 19, 0.18);
	padding: 0 5px;
	color: #fe7e13;
}
.tt-profile-heading,
.tt-profile-interest-list{
	text-align: center;
}

.tt-comment-area {
	background: aliceblue;
	border: 1px solid #EEEEEE;
	padding: 15px;
}

.tt-searchbar {
	padding-top: 8px;
}

.tt-comment-avatar {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	border: 2px solid #FE7E13;
	border-radius: 100%;
	overflow: hidden;
}

.tt-section-title,
.tt-comment-author,
.tt-comment-date {
	font-size: 16px;
	font-weight: bold;
}

.tt-comment-author,
.tt-comment-date {
	font-size: 12px;
}

.tt-add-interests input,
.tt-settings input{
	border: 1px solid #fe7e13;
}

.tt-add-interests span,
span.glyphicon.glyphicon-calendar {
	color: #FE7E13;
}

input#event-start-date,
span.input-group-addon {
	border-color: #fe7e13;
}

.tt-attachment-ul {
	list-style: none;
	padding: 0;
}

.tt-settings-title {
	font-size: 18px;
	font-weight: bold;
	color: #fe7e13;
}

@media screen and (max-width: 980px) {
	.tt-profile-avatar {
		width: 80px;
		height: 80px;
	}
}

