<!-- Modal -->
<div id="already-joined-event-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p><p>You want to unjoin {{alreadyJoinedEvent.title}} for joining {{newEvent.title}}</p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="continuePostingNewEvent()">Yes</button>
        <button type="button" class="btn btn-default" ng-click="giveUpPostingNewEvent()">No</button>
      </div>
    </div>

  </div>
</div>