<!-- Modal -->
<div id="already-joined-event-modal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Already joined</h4>
      </div>
      <div class="modal-body">
        <p>You want to unjoin {{alreadyJoinedEvent.title}} for joining {{tryToJoinEvent.title}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="continueJoinEvent()">Yes</button>
        <button type="button" class="btn btn-default" ng-click="giveUpJoinEvent()">No</button>
      </div>
    </div>

  </div>
</div>