<div class="modal fade" id="participants-modal" role="dialog">
    <div class="col-xs-12 col-sm-12 col-md-12 modal-container">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body" style="padding-left: 10%; padding-right: 10%;">
                    <!--<a ui-sref="user({userId:1})" ng-click="$('#participants-modal').modal().hide()">-->
                    <div class="row form-group" ng-repeat="user in selectedParticipantsList">
                        <div class="col-md-2">
                            <div class="tt-ppl-avatar ">
                                <img ng-src="{{user.profile_icon}}" img-src-error="img/avatar-placeholder.png">
                            </div>
                        </div>
                        <div class="col-md-10" ng-click="viewUserProfile(user.id)">
                            {{user.firstname}} {{user.lastname}}
                        </div>
                    </div>
                    <!--</a>-->
                    <!-- <a ui-sref="user({userId:1})" ng-click="$close()">-->
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                        <a class="btn btn-danger" data-dismiss="modal">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>