<div style="margin-top: 90px">
    <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 events-container col-centred tt-profile-container">
        <div class="row form-group">
            <div class="col-md-12 tt-event-title">
                {{ event.title }} {{event.rating}}
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12 tt-event-img-container">
                <img ng-src="{{ 'http://' + location.host() + '/itec/' + event.cover }}" img-src-error="img/cover-placeholder.png">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                {{event.participants.length}}
                {{event.participants.length == 1 ? 'user is' : 'users are'}} going
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="pull-right" star-rating rating="event.rating" read-only="event.iJoined" max-rating="5" click="submitRating(param)" mouse-hover="mouseHover1(param)" mouse-leave="mouseLeave1(param)"></div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12 tt-description-area">
                <p>{{ event.description }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 tt-description-area">
                <p class="tt-section-title">Interests</p>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12 tt-description-area">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-centred tt-profile-interest-list">
                    <span class="tt-interest" ng-repeat="eventInterest in getInterestsOfEvent(event)" style="margin-right:5px;">
                        {{eventInterest}}
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 tt-description-area">
                <p class="tt-section-title">Attachments</p>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12 tt-description-area">
                <ul class="tt-attachment-ul">
                    <li ng-repeat="attachment in event.attachments">
                        <a href="{{attachment.url}}" target="_self" download=""><span><i class="glyphicon glyphicon-save"></i>{{attachment.url}}</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12 tt-description-area">
                <a class="btn btn-orange pull-right" ng-if="!event.iJoined" ng-click="joinEvent(event)">JOIN</a>
                <a class="btn btn-orange pull-right" ng-if="event.iJoined" ng-click="unjoinEvent(event)">UNJOIN</a>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12 tt-description-area">
                <p class="tt-section-title">Comments</p>
            </div>
        </div>
        <div class="row form-group" ng-repeat="comment in event.comments">
            <div class="col-md-12 tt-comment-area">
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <div class="tt-comment-avatar">
                            <img style="width: 100%" ng-src={{authUser.profile_icon}} img-src-error="img/avatar-placeholder.png">
                        </div>
                    </div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        <p class="tt-comment-author">
                                            {{comment.author.firstname}} {{comment.author.lastname}}
                                        </p>
                                    </div>
                                    <div class="col-md-5">
                                        <p class="tt-comment-date pull-right">
                                            {{comment.created_at}}
                                        </p>
                                    </div>
                                    <div class="col-md-2" ng-show="comment.author.id == authUser.id">
                                        <a ng-show="!myComment.edit" ng-click="myComment.edit = true"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
                                        <a ng-show="myComment.edit" ng-click="saveComment(comment)"><i class="glyphicon glyphicon-ok"></i> Save</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <span ng-show="!myComment.edit">{{comment.message}}</span>
                                <textarea ng-show="myComment.edit" style="width:100%" rows="5" ng-model="comment.message"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="tt-attachment-ul">
                                    <li ng-repeat="attachment in comment.attachments">
                                        <a href="{{attachment.url}}" target="_self" download=""><span><i class="glyphicon glyphicon-save"></i>{{attachment.url}}</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group" ng-show="event.iJoined && !event.iCommented">
            <div class="col-md-12 tt-description-area">
                <textarea style="width:100%" rows="5" ng-model="myComment.message"></textarea>
            </div>
        </div>
        <div class="row form-group" ng-show="event.iJoined && !event.iCommented">
            <div class="col-md-6 tt-description-area">
                <a ng-click="triggerUpload()"><i class="glyphicon glyphicon-paperclip"></i>Attach file</a>
                <input id="my-comment-attachments" name="documents" file-model="myComment.attachments" type="file" multiple style="display:none">
            </div>
            <div class="col-md-6 tt-description-area">
                <a class="btn btn-orange pull-right" ng-click="postComment()">Post Comment</a>
            </div>
        </div>
    </div>
</div>