<div class="row main-container new-event">
    <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 events-container col-centred">
        <div class="row text-center padding-bottom padding-top">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a id="open-new-event-container" data-toggle="collapse" data-target="#collapseOne">
                    <i class="glyphicon glyphicon-plus"></i> <span class="event">New Event</span>
                </a>

            </div>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="row padding-bottom">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input id="new-event-title" type="text" placeholder="Title" ng-model="newEvent.title">
                    <p ng-if="newEventErrors.title != ''" class="help-block">{{newEventErrors.title}}</p>
                </div>
            </div>
            <div class="row padding-bottom">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="eventCover.uploadedCoverSRC == ''">
                    <div id="dropZone" ng-click="triggerCoverUpload()">
                        <div class="row" ng-if="eventCover.croppedImage == ''">
                            <div class="col-md-12">
                                <i class="glyphicon glyphicon-picture"></i>
                            </div>
                        </div>
                        <div class="row" ng-if="eventCover.croppedImage == ''">
                            <div class="col-md-12">
                                Upload Cover Image
                            </div>
                        </div>
                        <div class="row" ng-if="eventCover.croppedImage != ''">
                            <div class="col-md-12 tt-event-img-container">
                                <img ng-src="{{eventCover.croppedImage}}" style="border-radius:5px"/>
                            </div>
                        </div>
                    </div>
                    <input id="upload-cover" name="coverImage" ng-file-select type="file" accept="image/*" style="display:none;">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="eventCover.uploadedCoverSRC != ''">
                    <image-cropper image-url="{{eventCover.uploadedCoverSRC}}"
                                   width="650"
                                   height="180"
                                   show-controls="true"
                                   fit-on-init="true"
                                   center-on-init="true"
                                   crop-callback="updateResultImage"
                                   check-cross-origin="false"
                                   zoom-step="0.1"
                                   action-labels="myButtonLabelsObject"
                    ></image-cropper>
                </div>
            </div>
            <!--<div class="row padding-bottom">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <img class="avatar" src="img/avatar-placeholder.png">
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 user-create-event">
                    User name
                </div>
            </div>-->
            <div class="row form-group">
                <div class="col-md-12 tt-description-area">
                    <textarea rows="5" placeholder="Description" ng-model="newEvent.description"></textarea>
                    <p ng-if="newEventErrors.description != ''" class="help-block">{{newEventErrors.description}}</p>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <span class="glyphicon glyphicon-paperclip" ng-click="triggerDocumentsUpload()"></span> Attach files
                    <input id="upload-documents" name="documents" file-model="newEvent.documents" type="file" multiple style="display:none">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12 tt-add-interests">
                    <div class="row">
                        <div class="col-md-4" ng-repeat="newEventInterest in newEvent.interests">
                            <span>{{newEventInterest}} <span class="glyphicon glyphicon-remove" ng-click="removeInterest(newEventInterest)"></span></span>
                        </div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Interest" ng-model="newInterest" ng-enter="createNewInterest(newInterest)"/>
                            <span class="glyphicon glyphicon-plus" ng-click="createNewInterest(newInterest)"></span>
                        </div>
                    </div>
                    <div class="row">
                        <p ng-if="newEventErrors.interests != ''" class="help-block">{{newEventErrors.interests}}</p>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class='col-sm-6'>
                    <div class="form-group">
                        <div class='input-group date' id='start_date'>
                            <input id="event-start-date" type='text' placeholder="Start Date" class="form-control" />
                    <span class="input-group-addon">
                        <a><span class="glyphicon glyphicon-calendar"></span></a>
                    </span>
                        </div>
                        <p ng-if="newEventErrors.startDate != ''" class="help-block">{{newEventErrors.startDate}}</p>
                    </div>
                </div>
                <div class='col-sm-6'>
                    <a class="btn btn-orange pull-right" ng-click="validatePostEventForm(newEvent)">Post Event</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row main-container">
    <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 events-container col-centred">
        <ul class="nav navbar-nav">
            <li><a ng-click="viewEventList = 'all'; sortEventsList()">All</a></li>
            <li><a ng-click="viewEventList = 'my_events';">My Events</a></li>
            <li><a ng-click="viewEventList = 'best_rated'; sortEventsList()">Best Rated</a></li>
        </ul>
        <div style="clear:both"></div>
    </div>
</div>
<div class="row main-container" ng-repeat="event in events" ng-show="shouldISeeThis(event)">
    <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 events-container col-centred tt-ev-container">
        <a ui-sref="event({eventId: event.id})">
            <div class="row form-group">
                <div class="col-md-12 tt-event-title">
                    {{event.title}}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12 tt-event-img-container">
                    <img ng-src="{{'http://' + location.host() + '/itec/' + event.cover}}" img-src-error="img/cover-placeholder.png">
                </div>
            </div>
        </a>
        <div class="row form-group">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a data-toggle="modal" data-target="#participants-modal" ng-click="setParticipants(event)">
                    {{event.participants.length}}
                    {{event.participants.length == 1 ? 'user is' : 'users are'}} going
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="pull-right" star-rating rating="event.rating" read-only="true" max-rating="5"></div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12 tt-description-area">
                <p>{{event.description}}</p>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12 tt-description-area">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-centred tt-profile-interest-list">
                    <span class="tt-interest" ng-repeat="eventInterest in getInterestsOfEvent(event)" style="margin-right:5px;">
                        {{eventInterest}}
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 tt-description-area">
                <a class="btn btn-default pull-right" ng-show="!event.iJoined" ng-click="joinEvent(event)">JOIN</a>
                <a class="btn btn-orange pull-right" ng-show="event.iJoined" ng-click="unjoinEvent(event)">UNJOIN</a>
            </div>
        </div>
    </div>
</div>
<div ng-include="'views/modals/participants.html'"></div>
<script type="text/javascript">
    $(function () {
        $('#start_date').datetimepicker({
            format : 'DD-MM-YYYY HH:mm',
            minDate: moment()
        });
    });
    // with plugin options
    //$("#input-id").rating({min:1, max:5, step:1, size:'sm', showClear:false, showCaption:false});
</script>