<nav class="navbar navbar-default navbar-fixed-top tt-navbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="events"><img src="img/logo.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="navbar-form navbar-left">

                <ul class="nav navbar-nav">
                    <li><a ui-sref="events">Events</a></li>
                    <li><a ui-sref="people">People</a></li>
                </ul>
            </div><!-- /.col-lg-6 -->

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <div style="display: inline-block">
                            <img class="avatar" ng-src="{{authUser.profile_icon}}" img-src-error="img/avatar-placeholder.png">
                        </div>
                        {{authUser.firstname}} {{authUser.lastname}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ui-sref="settings">Settings</a>
                        </li>
                        <li>
                            <a ui-sref="events">Events</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a ng-click="logout()">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>