<div class="container-fluid landing-container">
    <div class="l-form">
        <div class="alert alert-danger" ng-if="loginError">
            <strong>Error!</strong> Invalid credentials.
        </div>
        <div class="alert alert-success" ng-if="succesfulRegistration">
            <strong>Success!</strong> Your account has been created!.
        </div>
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a data-target="#login" data-toggle="tab" ng-click="user = {}">Login</a></li>
            <li><a data-target="#register" data-toggle="tab" ng-click="user = {}">Register</a></li>
        </ul>
        <div class="tab-content tt-tab-content">
            <div class="tab-pane active" id="login">
                <form name="loginForm" ng-submit="login(user)" novalidate>
                    <div class="form-group">
                        <label for="login-email">Email address</label>
                        <input type="email" class="form-control" id="login-email" placeholder="Email" ng-model="user.email" required>
                    </div>
                    <div class="form-group">
                        <label for="login-password">Password</label>
                        <input type="password" class="form-control" id="login-password" placeholder="Password" ng-model="user.password" required>
                    </div>
                    <button type="submit" class="btn btn-default">Login</button>
                </form>
            </div>
            <div class="tab-pane" id="register">
                <form name="registerForm" ng-submit="submitRegisterForm(registerForm.$valid)" novalidate>
                    <div class="form-group">
                        <label for="register-firstname">Firstname</label>
                        <input type="firstname" class="form-control" id="register-firstname" placeholder="Firstname" name="firstname" ng-model="user.firstname" required ng-minlength="2">
                        <p ng-show="!registerForm.firstname.$pristine && registerForm.firstname.$error.minlength" class="help-block" style="float:right; color:#ff0000;">Insert at least 2 characters!</p>
                    </div>
                    <div class="form-group">
                        <label for="register-lastname">Lastname</label>
                        <input type="lastname" class="form-control" id="register-lastname" placeholder="Lastname" name="lastname" ng-model="user.lastname" required ng-minlength="2">
                        <p ng-show="!registerForm.lastname.$pristine && registerForm.lastname.$error.minlength" class="help-block" style="float:right; color:#ff0000;">Insert at least 2 characters!</p>
                    </div>
                    <div class="form-group">
                        <label for="register-email">Email</label>
                        <input type="text" class="form-control" id="register-email" placeholder="Email" name="email" ng-model="user.email" required ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'>
                        <p ng-show="!registerForm.email.$pristine && registerForm.email.$invalid" class="help-block" style="float:right; color:#ff0000;">Invalid e-mail address!</p>
                    </div>
                    <div class="form-group">
                        <label for="input-password">Password</label>
                        <input type="password" class="form-control" id="input-password" placeholder="Password" name="password" ng-model="user.password" required ng-minlength="8" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).+$/">
                        <p ng-show="!registerForm.password.$pristine && registerForm.password.$invalid" class="help-block" style="float:right; color:#ff0000;">Insert at least 8 characters with one uppercase and a number!</p>
                    </div>
                    <div class="form-group">
                        <label for="input-password">Confirm Password</label>
                        <input type="password" class="form-control" id="input-password-confirmation" placeholder="Password" name="password_confirmation" ng-model="user.password_confirmation">
                        <p ng-show="!registerForm.password_confirmation.$pristine && registerForm.password.$valid && user.password !== user.password_confirmation" class="help-block" style="float:right; color:#ff0000;">Password mismatch!</p>
                    </div>
                    <button type="submit" class="btn btn-default" ng-disabled="registerForm.$invalid || user.password !== user.password_confirmation">
                        Register
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>