<div style="margin-top: 90px">
    <a ng-repeat="user in users" ui-sref="user({userId: user.id})">
        <div class="row main-container">
            <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 events-container col-centred">
                <div class="row tt-user-card">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <div class="tt-ppl-avatar">
                            <img src="img/avatar-placeholder.png" ng-src="{{user.profile_icon}}">
                        </div>
                    </div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                <p class="tt-ppl-name">{{user.firstname + ' ' +user.lastname}}<p>
                            </div>
                        </div>
                        <div class="row tt-interest-section">
                            <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
                                <!--<i class="glyphicon glyphicon-heart tt-orange"></i>-->
                            </div>
                            <div class="col-sm-11 col-xs-11 col-md-11 col-lg-11">
                                <p class="tt-ppl-interests">{{user.interests}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
