<div style="margin-top: 90px">
    <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8 events-container col-centred tt-settings">
        <div class="row text-center padding-top padding-bottom">
            <span class="tt-settings-title">Profile settings</span>
        </div>
        <div class="row padding-top">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="row">
                    <div class="row" ng-if="!newUserModel.iconAccepted">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <img-crop image="avatarSrc" result-image="myCroppedImage"></img-crop>
                            <img id="croppedImg" ng-src="{{myCroppedImage}}" style="display:none;"/>
                        </div>
                    </div>
                    <div class="row" ng-if="newUserModel.iconAccepted">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 30%;">
                            <img ng-src="{{myCroppedImage==''?initialAvatar:myCroppedImage}}" img-src-error="img/avatar-placeholder.png" id="avatar-drag-and-drop-container" ng-click="triggerUpload()" style="width: 200px; height: 200px; border-radius: 50%;"/>
                            <input type="file" accept="image/*" ng-file-select style="display:none" id="upload-avatar" name="filedata"/>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ubuntu cs-14 text-center">
                            Click or drag and drop on picture to change the avatar
                        </div>
                    </div>
                    <div class="row"style="text-align:center;" ng-if="!newUserModel.iconAccepted">
                        <span>
                            <a class="btn btn-success roboto-bold cs-13" ng-click="acceptProfileIcon()">Accept image</a>
                        </span>
                        <span>
                            <a class="btn btn-danger roboto-bold cs-13" ng-click="cancelProfileIcon()">Cancel</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-top">
                <div class="row padding-bottom">
                    <div class="col-xs-5 col-sm-6 col-md-5 col-lg-6 font-g1">
                        Firstname
                    </div>
                    <div class="col-xs-7 col-sm-6 col-md-7 col-lg-6">
                        <input type="text" placeholder="Firstname" ng-model="newUserModel.firstname" ng-change="!profileChangesControl && profileChangesEvent()"/>
                    </div>
                </div>
                <div class="row padding-bottom">
                    <div class="col-xs-5 col-sm-6 col-md-5 col-lg-6 font-g1">
                        Lastname
                    </div>
                    <div class="col-xs-7 col-sm-6 col-md-7 col-lg-6">
                        <input type="text" placeholder="Lastname" ng-model="newUserModel.lastname" ng-change="!profileChangesControl && profileChangesEvent()"/>
                    </div>
                </div>
                <div class="row padding-bottom">
                    <div class="col-xs-5 col-sm-6 col-md-5 col-lg-6 font-g1">
                        Email
                    </div>
                    <div class="col-xs-7 col-sm-6 col-md-7 col-lg-6">
                        <input type="text" placeholder="Email" ng-model="newUserModel.email" ng-change="!profileChangesControl && profileChangesEvent()"/>
                    </div>
                </div>
                <div class="row padding-bottom">
                    <div class="col-xs-5 col-sm-6 col-md-5 col-lg-6 font-g1">
                        Interests
                    </div>
                    <div class="col-xs-7 col-sm-6 col-md-7 col-lg-6">
                        <input type="text" placeholder="Interest" ng-model="newInterest" ng-enter="createNewInterest(newInterest)"/>
                        <span class="glyphicon glyphicon-plus" ng-click="createNewInterest(newInterest)"></span>
                        <p ng-if="errors.newInterest != ''" style="color: red;">{{errors.newInterest}}</p>
                    </div>
                </div>
                <div class="row padding-bottom">
                    <div class="col-xs-7 col-xs-offset-5 col-sm-6 col-sm-offset-6 col-md-7 col-md-offset-5 col-lg-6 col-lg-offset-6">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-repeat="interest in newUserModel.interests" style="padding-left:0; padding-right:0;">
                            <span>{{interest}} <span class="glyphicon glyphicon-remove" ng-click="removeInterest(interest)"></span></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input type="checkbox" ng-model="newUserModel.changePassword">
                        <label>Do you want to change your password?</label>
                    </div>
                </div>
                <div class="row padding-bottom" ng-if="newUserModel.changePassword">
                    <div class="col-xs-5 col-sm-6 col-md-5 col-lg-6 font-g1">
                        Old password
                    </div>
                    <div class="col-xs-7 col-sm-6 col-md-7 col-lg-6">
                        <input type="text" placeholder="Old password" ng-model="newUserModel.oldPassword" ng-change="!profileChangesControl && profileChangesEvent()"/>
                    </div>
                </div>
                <div class="row padding-bottom" ng-if="newUserModel.changePassword">
                    <div class="col-xs-5 col-sm-6 col-md-5 col-lg-6 font-g1">
                        New password
                    </div>
                    <div class="col-xs-7 col-sm-6 col-md-7 col-lg-6">
                        <input type="text" placeholder="Password" ng-model="newUserModel.newPassword" ng-change="!profileChangesControl && profileChangesEvent()"/>
                    </div>
                </div>
                <div class="row padding-bottom" ng-if="newUserModel.changePassword">
                    <div class="col-xs-5 col-sm-6 col-md-5 col-lg-6 font-g1">
                        Confirm password
                    </div>
                    <div class="col-xs-7 col-sm-6 col-md-7 col-lg-6">
                        <input type="text" placeholder="Confirm password" ng-model="newUserModel.newPassword_confirmation" ng-change="!profileChangesControl && profileChangesEvent()"/>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center padding-top" ng-show="profileChangesControl">
                    <a class="btn btn-primary" ng-click="saveProfile()" ng-class="{'disabled':!newUserModel.iconAccepted}">Save</a>
                    <a class="btn btn-danger" ng-click="init()">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>