<div style="margin-top: 90px">
    <div class="row main-container">
        <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 events-container col-centred tt-profile-container">
            <div class="row form-group">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-centred">
                    <div class="tt-profile-avatar">
                        <img ng-src="{{ 'http://' + location.host() + '/itec/' + user.profile_icon }}"
                             img-src-error="img/avatar-placeholder.png">
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-centred">
                    <p class="tt-profile-username">{{user.firstname}} {{user.lastname}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-centred tt-profile-heading">
                    <p class="tt-profile-username" ng-if="user.interests_status == 'public'">what i like</p>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-centred tt-profile-interest-list">
                    <span class="tt-interest" ng-repeat="userInterest in user.interests"
                          ng-if="user.interests_status == 'public'" style="margin-right:5px;">
                        {{userInterest}}
                    </span>
                    <span class="tt-interest" ng-if="user.interests_status == 'private'">
                        User preferences are private!    
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row main-container" ng-repeat="event in user.events">
        <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 events-container col-centred tt-ev-container">
            <a ui-sref="event({eventId: event.id})">
                <div class="row form-group">
                    <div class="col-md-12 tt-event-title">
                        {{event.title}} {{event.rating}}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12 tt-event-img-container">
                        <img ng-src="{{'http://' + location.host() + '/itec/' + event.cover}}"
                             img-src-error="img/cover-placeholder.png">
                    </div>
                </div>
            </a>
            <div class="row form-group">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <a data-toggle="modal" data-target="#participants-modal" ng-click="setParticipants(event)">
                        {{event.participants.length}}
                        {{event.participants.length == 1 ? 'user is' : 'users are'}} going
                    </a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="pull-right" star-rating rating="event.rating" read-only="true" max-rating="5"></div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12 tt-description-area">
                    <p>{{event.description}}</p>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12 tt-description-area">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-centred tt-profile-interest-list">
                    <span class="tt-interest" ng-repeat="eventInterest in getInterestsOfEvent(event)"
                          style="margin-right:5px;">
                        {{eventInterest}}
                    </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 tt-description-area">
                    <a class="btn btn-default pull-right" ng-show="!event.iJoined" ng-click="joinEvent(event)">JOIN</a>
                    <a class="btn btn-orange pull-right" ng-show="event.iJoined"
                       ng-click="unjoinEvent(event)">UNJOIN</a>
                </div>
            </div>
        </div>
    </div>
</div>